USE [StoreProcedureContext]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movies]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ReleaseDate] [datetime] NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [Name], [City], [Address]) VALUES (1, N'Phuc', N'not vn', N'123')
SET IDENTITY_INSERT [dbo].[Employees] OFF
/****** Object:  StoredProcedure [dbo].[AddNewEmpDetails]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddNewEmpDetails]
	@Name varchar(50),
	@City varchar(50),
	@Address varchar(50)
as
begin
	insert into Employees values(@Name,@City,@Address)
end

GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DeleteEmployee]
(
	@Id int
)
as 
begin
	delete from Employees where Id= @Id
end
GO
/****** Object:  StoredProcedure [dbo].[GetEmployees]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure [dbo].[GetEmployees]
as
begin
	select * from Employees
end
GO
/****** Object:  StoredProcedure [dbo].[Movie_Delete]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movie_Delete]
    @ID [int]
AS
BEGIN
    DELETE [dbo].[Movies]
    WHERE ([ID] = @ID)
END
GO
/****** Object:  StoredProcedure [dbo].[Movie_Insert]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movie_Insert]
    @Name [nvarchar](max),
    @ReleaseDate [datetime],
    @Category [nvarchar](max)
AS
BEGIN
    INSERT [dbo].[Movies]([Name], [ReleaseDate], [Category])
    VALUES (@Name, @ReleaseDate, @Category)
    
    DECLARE @ID int
    SELECT @ID = [ID]
    FROM [dbo].[Movies]
    WHERE @@ROWCOUNT > 0 AND [ID] = scope_identity()
    
    SELECT t0.[ID]
    FROM [dbo].[Movies] AS t0
    WHERE @@ROWCOUNT > 0 AND t0.[ID] = @ID
END
GO
/****** Object:  StoredProcedure [dbo].[Movie_Update]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Movie_Update]
    @ID [int],
    @Name [nvarchar](max),
    @ReleaseDate [datetime],
    @Category [nvarchar](max)
AS
BEGIN
    UPDATE [dbo].[Movies]
    SET [Name] = @Name, [ReleaseDate] = @ReleaseDate, [Category] = @Category
    WHERE ([ID] = @ID)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeeDetail]    Script Date: 01/01/2017 7:33:20 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[UpdateEmployeeDetail]
(
	@Id int,
	@Name varchar(50),
	@City varchar(50),
	@Address varchar(50)
)
as 
begin
	update Employees
	set Name = @Name,
	City=@City,
	Address=@Address
	where Id=@Id
end
GO
